<header class="site-header" role="banner">

  
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <div class="site-title">
  <!--   <a rel="author" href="{{ "/" | relative_url }}"><img class="homeicon" src="/assets/homeicon.svg"></a> -->

    <!-- <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img class="homeicon" src="/assets/homeicon.svg"></a> -->

    
     <a rel="author" href="/about">About</a>
     <a rel="author" href="{{ "/" | relative_url }}">Home</a>

  </div>




</header>



