<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">



  {% include head.html %}
<!-- 
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    -->

  <body>



   {% include header.html %}




    <img class = "splash" src="{{ page.headerimage | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}">

     

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
