<li>
        
        <a class = "thumbhover" href="{{ post.url | relative_url }}">
    

           <div id="cropper">
        <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}">
        </div>
          <div class = text-info>           
            <h2>
              <span class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
              </span>
            </h2>
            <span class="post-category">{% for category in post.categories %}
            {{ category }}
            {% endfor %}</span> 
            <h4>{{ post.info }} </h4>
          </div>
          
         </a>
      </li>